form, input[type=number], button
    width: 100%

fieldset
    border: none

label
    display: block
    margin-bottom: 0.4rem
    font-weight: 600
    color: #122F3F

button
    border: none
    background-color: #D7DA2F
    color: #122F3F
    padding: 0.6rem
    border-radius: 20px

button:hover
    background-color: #c4c922

.mortage-calculator-container
    width: 300px
    background-color: #ffffff
    padding: 1rem
    border-radius: 10px
    margin: 0
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1)

.input-group
    display: flex
    flex-direction: column
    gap: 0.4rem

.input-wrapper
    display: flex
    align-items: center
    justify-content: center
    background-color: white
    border: 1px solid #ccc
    border-radius: 5px
    margin-right: 0.5rem
    line-height: 0
    padding: 0.1rem

.half-column-container
    display: flex

.icon-wrapper
    min-width: 20px
    background-color: #e4f3fe
    color: #122F3F

fieldset
    border: none
    display: flex
    flex-direction: column
    gap: 0.5rem

legend
    font-weight: bold
    margin-bottom: 0.5rem

.radio-group
    display: flex
    align-items: center
    justify-content: flex-start
    border: 2px solid #D3E1E9
    padding: 0.8rem
    border-radius: 5px
    width: 100%
    cursor: pointer
    font-weight: 600
    color: #122F3F

input[type="radio"]
    background: green
    color: green

svg
    padding: 0.35rem
    background-color: #e4f3fe
    margin: 0
    color: #5a7d98
    height: 100%

input
    border: none
    background: transparent
    outline: none
    font-size: 1rem
    color: #122F3F
