@import "../styles/_variables"

form, input[type=number], button
    width: 100%

button
    border: none
    background-color: $accent-color
    color: $primary-color
    padding: $padding-medium
    border-radius: 20px

    &:hover
        background-color: $hover-accent-color

label
    display: block
    margin-bottom: $padding-small
    font-weight: 600
    color: $primary-color

// Mortgage calculator container styles
.mortage-calculator-container
    width: 300px
    background-color: $background-color
    padding: $padding-large
    border-radius: $border-radius
    margin: 0
    box-shadow: $box-shadow

    @media (max-width: 700px)
        border-radius: 0

    .mortgage-header-container
        display: flex
        justify-content: space-between

        @media (max-width: 700px)
            flex-direction: column
            justify-content: start
        
        h1
            min-width: 75%

            @media (max-width: 700px)
                margin-bottom: 0
        
        .reset-button, .reset-button:focus
            background: none
            text-align: end
            text-decoration: underline
            font-size: $padding-medium
            margin-top: 0

            @media (max-width: 700px)
                text-align: start

    .input-group
        display: flex
        flex-direction: column
        gap: $padding-small

    .input-wrapper
        display: flex
        align-items: center
        justify-content: center
        background-color: white
        border: 1px solid #ccc
        border-radius: $small-border-radius
        margin-right: $padding-small
        line-height: 0
        padding: 0.1rem

    .half-column-container
        display: flex

    .icon-wrapper
        min-width: 2.5rem
        text-align: center
        background-color: $highlight-color
        color: $primary-color
        padding: 0.2rem

fieldset
    border: none
    display: flex
    flex-direction: column
    gap: 0.5rem

legend
    font-weight: bold
    margin-bottom: 0.5rem

.radio-group
    display: flex
    align-items: center
    justify-content: flex-start
    border: 2px solid #D3E1E9
    padding: 0.8rem
    border-radius: $small-border-radius
    width: 100%
    cursor: pointer
    font-weight: 600
    color: $primary-color

input[type="radio"]
    accent-color: $accent-color

.radio-group:has(input[type="radio"]:checked)
    background:  #fbfbe9
    border-color: $accent-color

svg
    padding: 0.35rem
    background-color: $highlight-color
    margin: 0
    color: #5a7d98
    height: 100%

input
    border: none
    background: transparent
    outline: none
    font-size: 0.8rem
    color: $primary-color
    padding-left: $padding-small