hr
    border: 1px solid #6B94A8

.results-card
    background-color: #123040
    color: #6B94A8
    padding: 1rem
    width: 300px
    margin: 0
    border-radius: 0 10px 10px 40px

.repayments-container
    background-color: #0e2432
    border-top: 2px solid #D7DA2F
    padding: 1rem
    border-radius: 5px

.results-header
    color: #E3F3FD

.amount
    color: #D7DA2F

.monthly-repayments
    font-size: 2rem
    font-weight: 700
    line-height: 0.1rem

.total-repayments
    font-size: 1rem
    font-weight: 600
    color: #E3F3FD
    margin: 0
    