@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap')
@import "./styles/_variables"

*, *::before, *::after
    box-sizing: border-box

.plus-jakarta-sans
  font-family: "Plus Jakarta Sans", serif
  font-optical-sizing: auto
  font-weight: 400
  font-style: normal

body
  display: flex
  justify-content: center
  align-items: center
  background-color: #9ABED5
  height: 100vh

  @media (max-width: 700px)
    align-items: start

main
    display: flex
    justify-content: center
    align-items: stretch
    font-size: $padding-medium
    background-color: $background-color
    width: max-content
    margin: auto
    border-radius: 10px
    
    @media (max-width: 700px)
        flex-direction: column